* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

img {
    max-width: 100%;
}

body {
    background-image: url("Images/galaxy.jpg");
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.planet {
    cursor: pointer;
    margin-top: -35px;
}

h2 {
    margin-top: 10px;
    margin-left: 550px;
    color: white;
    cursor: pointer;
}

.rotating-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: 13%;
    left: 31%;

    z-index: 0;
}

p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sun {
    /* border: 2px solid red; */
    position: relative;
    top: 250px;
    left: 570px;
    width: 200px;
    /* height: 300px; */
}

.sun img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.sun p {
    margin-left: 60px;
}

.mercury {
    position: absolute;
    width: 60px;
    top: -60px;
    left: -20px;
}

.mercury img:hover {
    animation: planetHeartbeat 0.9s ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.mercury p {
    margin-left: -40px;
}

.venus {
    position: absolute;
    width: 90px;
    left: 90px;
}

.venus img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.earth {
    position: absolute;
    width: 120px;
    left: 270px;
    bottom: 20px;
    /* transform: translate(-50%, -50%); */
}

.earth img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.saturn {
    position: absolute;
    width: 220px;
    left: 160px;
    bottom: 220px;
}

.saturn img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.mars {
    position: absolute;
    width: 80px;
    left: -200px;
    bottom: 50px;
}

.mars img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.neptune {
    position: absolute;
    width: 140px;
    left: 350px;
    /* bottom: -10px; */
}

.neptune img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.jupiter {
    position: absolute;
    width: 180px;
    left: -220px;
    /* bottom: 10px; */
}

.jupiter img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.uranus {
    position: absolute;
    width: 200px;
    bottom: 210px;
    left: -350px;
}

.uranus img:hover {
    animation: planetHeartbeat 0.9s infinite ease-in-out;
}

@keyframes planetHeartbeat {
    0% {
        transform: scale(1) translateY(0);
    }

    15% {
        transform: scale(1.08) translateY(-8px);
    }

    30% {
        transform: scale(1) translateY(0);
    }

    45% {
        transform: scale(1.08) translateY(-5px);
    }

    60% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}